html{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

header, footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
}

footer{
    margin-top: 2em;
    background-color: #001a6e;
    color: white;
}

nav{
    width: 300px;
    font-family:'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}

ul{
    display: flex;
    flex-direction: column;
    align-items: center;
    line-height: 1.5em;
}

a{
    color: inherit;
    text-decoration: none;
    cursor: pointer;
}

a:hover{
    text-decoration: underline;
}

main{
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1, h2, h3, h4{
    color: #001a6e;
}

h2{
    font-size: 2.5em;
    font-weight: 600;
    margin-bottom: 0.5em;
}

h3{
    font-size: 2em;
    margin-bottom: 0.5em;
}

p{
    line-height: 1.5em;
}

td{
    padding: 2px 5px;
}

em{
    font-weight: bold;
}

.nav-list{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.nav-list-item{
    display: inline-block;
}

.logo{
    max-width: 208px;
    margin-bottom: 1em;
}

.hero{
    background-image: url(../images/hero.jpg);
    background-size: cover;
    background-position: center;
    height: 450px;
    width: 100%;
    margin-bottom: 25px;
}

.hours{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 4em;
}

.prices{
    display: flex;
    flex-direction: column;
    margin-bottom: 4em;
    align-items: center;
}

.prices-card{
    margin: 15px 30px;
}

.prices-card-container{
    display: flex;
    flex-direction: row;
}

.subtext{
    font-size: 0.75em;
}

.contact{
    display: flex;
    flex-direction: column;
    align-items: center;
}